ADMIN_PASSWORD="your_admin_password_here"

NEXT_PUBLIC_VAPID_PUBLIC_KEY=your_vapid_public_key_here
VAPID_PRIVATE_KEY=your_vapid_private_key_here

NEXT_PUBLIC_API_BASE=http://localhost:3005
ADMIN_VTOP_IDS=ADMIN_ID_1,ADMIN_ID_2
